# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.ipynb_checkpoints
*.nii.gz
*.mat

funcConnGUI/Scripts/data
funcConnGUI/Scripts/data/tmp
funcConnGUI/Scripts/Group1
funcConnGUI/Scripts/Group2
funcConnGUI/Scripts/*.nii.gz
funcConnGUI/Scripts/*.npy
funcConnGUI/Scripts/__pycache__
*.o
*.nii.gz
build*
*.user
*.pyc
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
